.products {
  margin: 2rem 0;
  width: 100%;
}

.products__header {
  font-size: 5rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffe66d;
}

.products__items {
  background-color: #f7fff7;
  padding: 3rem 2rem;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
}

.products__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem 0;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 576px) {
  .products__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.products__info {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
}

.products__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  width: 100%;
}

@media screen and (min-width: 576px) {
  .products__buttons {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

.products__button-add {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  background-color: #4ecdc4;
  font-size: 1.3rem;
  border-radius: 15px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.products__button-add:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.products__button-remove {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  background-color: #ff6b6b;
  font-size: 1.3rem;
  border-radius: 15px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.products__button-remove:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.products__spinner {
  -webkit-animation: spin infinite 2s linear;
          animation: spin infinite 2s linear;
  height: 30px;
  width: 30px;
  color: #4ecdc4;
  margin-left: calc(50% - 15px);
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.form {
  background-color: #ffe66d;
  padding: 2rem 1rem;
  width: 100%;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
}

.form__header {
  font-size: 2rem;
  color: #ff6b6b;
  text-align: center;
}

.form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 576px) {
  .form__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.form__input {
  border: none;
  outline: none;
  padding: 0.7rem 1.2rem;
  background: #ff6b6b;
  border-radius: 20px;
  text-align: start;
  font-size: 1.3rem;
  color: #f7fff7;
}

.form__input::-webkit-input-placeholder {
  color: #f7fff7;
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
  opacity: 1;
}

.form__input:-ms-input-placeholder {
  color: #f7fff7;
  filter: opacity(0.5);
  opacity: 1;
}

.form__input::-ms-input-placeholder {
  color: #f7fff7;
  filter: opacity(0.5);
  opacity: 1;
}

.form__input::placeholder {
  color: #f7fff7;
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
  opacity: 1;
}

.form__button {
  border: none;
  outline: none;
  background: #4ecdc4;
  padding: 0.7rem;
  border-radius: 20px;
  width: 100%;
  font-size: 1.3rem;
  color: #f7fff7;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.form__button:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.cart {
  background: #f7fff7;
  margin: 2rem 0;
  width: 100%;
  padding: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
}

.cart__header {
  font-size: 3rem;
  color: #4ecdc4;
}

.cart__price {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.cart__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}

.cart__item {
  margin: 0.6rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 576px) {
  .cart__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.cart__title {
  font-size: 1.3rem;
}

.cart__infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 0.5rem;
}

.cart__info {
  font-size: 1.2rem;
}

.cart__button {
  border: none;
  outline: none;
  background: #ff6b6b;
  padding: 1rem;
  border-radius: 15px;
  font-size: 1.2rem;
  cursor: pointer;
  width: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.cart__button:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

@media screen and (min-width: 576px) {
  .cart__button {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

.cart__spinner {
  -webkit-animation: spin infinite 2s linear;
          animation: spin infinite 2s linear;
  height: 30px;
  width: 30px;
  color: #4ecdc4;
  margin-top: 1rem;
  margin-left: calc(50% - 15px);
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Barlow Condensed", sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: #1a535c;
  padding-bottom: 6rem;
}

.app {
  width: 100%;
  max-width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
}
/*# sourceMappingURL=style.css.map */